* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

button { 
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
}



body { 
    height: 100vh;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-width: 100vw;
    min-height: 100vh;
}

.caixa-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
  


    

}
   
.mascara-video {
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.1) 50%, rgba(10, 12, 16, 0.1) 85%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

p {
    color: white;
    font-size: 20px;
}



.cabeçalho { 
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
   
}

.logo-header {
    width: 100px;
    position: relative;
    left: 20px;
    
}

.texto {
    color: #fde303;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    
}


.texto:hover {
    color: #00c7fc;
    font-size: 40px;
    transition: 0.5s ease-in-out;

}

.caixa-link-whatsapp {
    position: fixed;
    bottom: 15px;
    right: 40px;
    cursor: pointer;
    
}

form {
    background-color: #ffffff;
    position: fixed;
    top:25%;
    left: -750px;

    /* 
    left: 50%;
    transform: translateX(-50%);  
    */
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    border-radius: 3px;
    width: 450px;
    height: 400px;
    z-index: 1;
    transition: 0.5s left ease-in-out;
}


form .formulario {
    background-color: #ffffff;
    position: fixed;
    top:30%;
    left: -750px;

    /* 
    left: 50%;
    transform: translateX(-50%);  
    */
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    border-radius: 3px;
    width: 450px;
    height: 400px;
    z-index: 1;
    transition: 0.5s left ease-in-out;
    
}

 form .formfrural {
    background-color: #ffffff;
    position: fixed;
    top:30%;
    left: -750px;

    /* 
    left: 50%;
    transform: translateX(-50%);  
    */
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    border-radius: 3px;
    width: 450px;
    height: 400px;
    z-index: 1;
    transition: 0.5s left ease-in-out;
    
}

 form .formrural {
    background-color: #ffffff;
    position: fixed;
    top:30%;
    left: -750px;

    /* 
    left: 50%;
    transform: translateX(-50%);  
    */
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    border-radius: 3px;
    width: 450px;
    height: 400px;
    z-index: 1;
    transition: 0.5s left ease-in-out;
}
.mascara-formulario {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg,rgba(10, 12, 16, 0.99) 15%,rgba(10, 12, 16, 0.7) 50%,rgba(10, 12, 16, 0.99) 85%);
    visibility:hidden;
    transition: 0.5s  ease-in-out;
}

.mascara-formfrural{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg,rgba(10, 12, 16, 0.99) 15%,rgba(10, 12, 16, 0.7) 50%,rgba(10, 12, 16, 0.99) 85%);
    visibility:hidden;
    transition: 0.5s  ease-in-out;
}

.mascara-formrural{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg,rgba(10, 12, 16, 0.99) 15%,rgba(10, 12, 16, 0.7) 50%,rgba(10, 12, 16, 0.99) 85%);
    visibility:hidden;
    transition: 0.5s  ease-in-out;
}


.icone-whatsapp {
    width: 100px;
}

.imgform {
    position: relative;
    top: -520px;
    right: -250px;
    width: 350px;
}

.saiba{
    position: relative;
    margin-top: -550px;
    background-color: #c70202;
}

    h4 { 
    color: #01159c;
    font-size: 20px;
    font-family: Oswald;

}

h4 span {
    color: #fa6200;
    font-family: Oswald;

}

.megas {
    color:#01159c;
}

.megas2 {
    color: #01159c;
}

.megas3 {
    color: #01159c;
}

.aviso {
   color: #01159c;
   font-size: 15px;
}

.aviso span {
    color: #c70202;
}

.megas span {
    color: #fa6200;
    font-size: 30px;
    font-family: Oswald;
}

.megas2 span {
    color: #fa6200;
    font-size: 30px;
    font-family: Oswald; 
}

.megas3 span {
    color: #fa6200;
    font-size: 30px;
    font-family: Oswald;
}

.tg {
    font-size: 1px;  
}

.fibra {
    background-color: #C51111;
}

.frural {
    background-color: #3f2901;
}

.rural {
    background-color: #000060;
}

.veloxname {
    width: 400px;
    position: relative;
   
}



@media screen and (max-width: 900px) {

    .formulario {
        width: 300px;
    }
    .formfrural {
        width: 300px;
    }

    .formrural {
        width: 300px;
    }

    .formulario h4 {
        font-size: 25px;
        top: 14px;
    }

    .aviso {
        font-size: 11px;
    }

    .saiba {
        left: 100px;
        bottom: -130px;
        width: 150px;
    }

    .div1{
        width: 500px;
        top: 300px;
        position: relative;
        top: -100px;
    }
    
    .div1 img {
        width: 200px;
        position: relative;
        left: -70px;
    }

   

    .div1 p {
        font-size: 9px;
        position: relative;
        left: -60px;
        
    }

    .cabeçalho img {
        width: 50px;
    }

    .cabeçalho a {
        font-size: 10px;
        
    }

    .icone-whatsapp {
        width: 70px;
        position: relative;
        left: -10px;
        top: -60px;
    }

    .imgform {
        width: 180px;
        left: 137px;
        top: -550px;
    }

    h4 {
        position: relative;
        top: 30px;

    }

    .saiba {
        position: relative;
        margin-top: -445px;
        width: 100px;
        height: 50px;
    }
        
    .caixa-video {
        width: 100%;
        height: 100%;
    }
    
    .caixa-principal button {
        position: relative;
        left: -70px;
    }

    .Logo-header {
        top: 40px;
    }
  
}